@font-face {
    font-family: DauphinPlain;
    src: url(/assest/fonts/DauphinPlain.eot?#iefix) format("embedded-opentype"),
      url(/assest/fonts/DauphinPlain.woff) format("woff"),
      url(/assest/fonts/DauphinPlain.ttf) format("truetype"),
      url(/assest/fonts/DauphinPlain.svg#DauphinPlain) format("svg");
    font-weight: 400;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.main{
    margin-top: 105px;
    margin-left: 20%;
    margin-right: 20%;
}


.language a{
    color: black;
    font-size: 12px;
    line-height: 10px;
}

.language a:hover{
    color: red;
}

h1{
    font-size: 70px;
    font-family: 'DauphinPlain';
}

h4{
    font-size: 14px;
    font-style: italic;
}

h5{
    font-size: 12px;
    font-weight: 200;
}

hr{
    height: 1px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h2{
    font-family: DauphinPlain;
    font-size: 24px;
}

.about{
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

.radio_table div label{
    font-size: 14px ;
    line-height: 20px;
}

.here{
    color: red;
    font-weight: bold;
}

.here:hover{
    color: red;
    font-weight: bold;
}

.bold-hr{
    height: 3px!important;
}

.endlinks>a{
    font-size: 14px;
    line-height: 20px;
    margin-left: 12px;
    color: black;
}

h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 10px;
}

.contact a{
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.contact a:hover{
    color: red;
}


.generate_button{
    font-size: 14px;
}